body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 179, 180);
    width: 100%;
}